body {
  width: 550px;

  margin: 150px auto;
}

h1 {
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: -1px;
}

h2 {
  margin: 0px auto;
}

form {
  float: right;
  margin: 0px 0px 100px 0px;
}

.location-button {
  margin: 5px -10px 0 190px;
  color: #ffff;
  border: none;
  background-color: transparent;
}

.search-button {
  text-align: center;
}

.unit {
  font-size: 20px;
}

.container {
  border: solid lightgrey 1px;
  border-radius: 4px;
  background: rgb(115, 115, 145);
  color: #ffff;
  padding: 20px;
}

.extra {
  list-style: none;
}

.card-body {
  text-align: center;
}

#celsius {
  text-decoration: none;
  color: #ffff;
}

#fahrenheit {
  text-decoration: none;
  color: #ffff;
}
